$primaryColor: rgb(0, 48, 130);
$secondaryColor: rgb(255, 201, 23);

.title {
  font-size: 32px;
  color: rgb(0, 48, 130);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.departuresTable {
  width: 50%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.tableData {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.evenRow {
  background-color: #939292;
}

.oddRow {
}
