.main {
  display: flex;
}

.title {
  font-size: 32px;
  color: rgb(0, 48, 130);
}

.subtitle {
  font-size: 16px;
  color: rgb(0, 48, 130);
}

.searchElement {
  padding: 32px;
  background-color: rgb(255, 201, 23);
}
